.container {
	text-align: center;
}

.container #books-container {
    text-align: left;
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
    max-width: 750px;
    padding-bottom: 30px
}

.container #books-container .single-book {
	margin-top: 12px;
	border-color: black;
	border: 1px solid;
	position: relative;
	border-radius: 1px;
	width: 98%;
	overflow: hidden;
	cursor: pointer;
}

.container #books-container .single-author {
	margin-top: 12px;
	border-color: black;
	border: 1px solid;
	position: relative;
	border-radius: 1px;
	width: 98%;
	overflow: hidden;
}

.container #books-container .single-genre {
	margin-top: 12px;
	border-color: black;
	border: 1px solid;
	position: relative;
	border-radius: 1px;
	width: 98%;
	overflow: hidden;
}

.container #books-container .single-book .content {
	float: right;
	text-align: left;
    width: calc(100% - 75px);
    padding: calc(1vw + 7px);
    padding-bottom: 110px
}

.container #books-container .single-book h4{
	float: right;
	text-align: left;
    width: calc(100% - 75px);
    padding: calc(1vw + 7px) 9px;
    padding-bottom: 110px
}

.container #books-container .single-author .content {
	float: right;
	text-align: left;
    width: calc(100% - 75px);
    padding: calc(1vw + 7px) 9px;
    padding-bottom: 110px
}

.container #books-container .single-genre .content {
	float: right;
	text-align: left;
    width: calc(100% - 75px);
    padding: calc(1vw + 7px) 9px;
    padding-bottom: 110px
}

.container #books-container .single-book .content h3 {
	font-family: helvetica;
	text-align: left;
}

.container #books-container .single-book h4 {
	top: 50px;
	/*left: 72px;*/
	font-size: 17px
}

.container #books-container .single-book h4 {
    font-size: 17px;
    margin-left: 0px;
    max-width: 80%;
    padding: 0px;
    font-weight: 500;
    display: inline-block;
    left: 55px;
    position: absolute;
    /*bottom: 80px;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis
}

.container #books-container .single-book .book-summary {
    margin-top: 20px;
    font-size: 14px;
    position: absolute;
    display: inline-block;
    max-width: 76%;
    z-index: 5;
    left: 55px;
    overflow: hidden;
    overflow-wrap: wrap;
}

.container #books-container .single-book .book-summary {
	top: 75px;
	text-align: left;
	font-size: 16px;
}

.container #books-container input[type="checkbox"] {
	width: 40%;
	height: auto;
	position: absolute;
	top: 40%;
	left: 15px;
	max-width: 15px;
}