.container {
	text-align: center;
}

.container #books-container [type="checkbox"] {
	margin-top: 12px;
}

/*
.container #new-book-form {
	text-align: center;
}

.container #filter-form {
	text-align: center;
}

*/